{% extends 'wiki/base.html' %}

{% set page_title = _('Latest Changes') %}
{% set feed_link = url_for('wiki/changes-atom', area_name=area.name) %}

{% block title %}{{ page_title }} - {{ sitename }}{% endblock %}

{%- block head_extra -%}
    {{- super() -}}
    <link type="application/atom+xml" rel="alternate" href="{{ feed_link }}" title="{{ _('Atom feed for this page') }}">
{% endblock %}

{% block content %}
    <h1 class="first">
        {{ page_title }}
        <a href="{{ feed_link }}" class="icon feedlink" title="{{ _('Atom feed for this page') }}">{{ _('Feed') }}</a>
    </h1>
    {% if pages %}
    <p>{{ _('Here are the latest pages changed in this wiki.') }}</p>
    <table class="grid" id="wiki-changes">
        <tbody>
        {% set row_class = cycler('odd', 'even') %}
        {% for page in pages %}
            <tr class="{{ row_class.next() }}">
                <td>
                    <a href="{{ url_for('wiki/index', area_name=area.name, page_path=page.path) }}" class="icon page">{{ page.path }}</a>
                </td>
                <td class="page-date">
                    {{ format_datetime(page.updated, format='medium') }}
                </td>
                <td class="page-history">
                    <a href="{{ url_for('wiki/changes', area_name=area.name, page_path=page.path) }}" class="icon history" title="{{ _('Change history for this page') }}">{{ _('History') }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% if not is_first_page or next_page %}
        <tfoot>
            <tr>
                <td colspan="3">
                    {% if not is_first_page %}
                        &larr; <a href="javascript:history.back();">{{ _('previous page') }}</a>
                    {% endif %}
                    {% if not is_first_page and next_page %} | {% endif %}
                    {% if next_page %}
                        <a href="{{ url_for('wiki/changes', area_name=area.name, start=next_page) }}">{{ _('next page') }}</a> &rarr;
                    {% endif %}
                </td>
            </tr>
        </foot>
        {% endif %}
    </table>
    {% else %}
        <p>{{ _('Weird, no changes were found.') }}</p>
    {% endif %}
{% endblock %}
